@{
    ViewBag.Title = "Home";
    ViewBag.SubTitle = "Events Administration";
}
<p>
    This dashboard is used to adminster events and sign-in sheets.
</p>
<p>
    <a class="btn btn-secondary btn-large" href="@Url.Action("Events")">
        Go to Events List
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</p>